<?xml version="1.0" standalone="yes"?>
<events>
  <xs:schema id="events" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
    <xs:element name="events" msdata:IsDataSet="true" msdata:MainDataTable="event" msdata:UseCurrentLocale="true">
      <xs:complexType>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="event" msdata:CaseSensitive="False" msdata:Locale="en-US">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="NAME" type="xs:string" minOccurs="0" />
                <xs:element name="TIME" type="xs:string" minOccurs="0" />
                <xs:element name="PERIOD" type="xs:string" minOccurs="0" />
                <xs:element name="TRIG" type="xs:string" minOccurs="0" />
                <xs:element name="EVENT" type="xs:string" minOccurs="0" />
                <xs:element name="COMMENT" type="xs:string" minOccurs="0" />
                <xs:element name="CLUSTER" type="xs:string" minOccurs="0" />
                <xs:element name="EQUIP" type="xs:string" minOccurs="0" />
                <xs:element name="EDITCODE" type="xs:string" minOccurs="0" />
                <xs:element name="LINKED" type="xs:string" minOccurs="0" />
                <xs:element name="TAGGENLINK" type="xs:string" minOccurs="0" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:complexType>
    </xs:element>
  </xs:schema>
  <event>
    <NAME>Abnormal_Status</NAME>
    <TIME>00:00:00</TIME>
    <PERIOD>00:00:10</PERIOD>
    <TRIG />
    <EVENT>Sum_AbNorm_Conditions()</EVENT>
    <COMMENT />
    <CLUSTER>Cluster1_Pier_E</CLUSTER>
    <EQUIP />
    <EDITCODE />
    <LINKED />
    <TAGGENLINK />
  </event>
</events>